/*

Template 2076 Zentro

http://www.tooplate.com/view/2076-zentro

*/
/* howwework section */
#howwework h4 {
  line-height: 1.5;
}

#howwework .col-md-8 {
  padding-bottom: 42px;
}

#howwework .col-md-6 {
  padding-bottom: 18px;
}

#howwework span {
  color: #5C5C5C;
}
