/* aboutus section */

// #aboutus-wrapper {
//   height: 750vh; /* fallback if needed */
//   // height: calc(800%)vh
// }

#aboutus1, #aboutus2, #aboutus3 {
  height: 100vh;
  padding-top: 25%;
  padding-bottom: 80px;
//   // z-index: $aboutUsZindex;
//   // position: fixed;
//   // height: 50%;
//   // top: 50%;
}
//
// #down-arrow {
//   // z-index: $aboutUsZindex;
//   position: fixed;
//   height: 50%;
//   top: 90%;
// }

#aboutus .col-md-4 {
  padding-top: 52px;
}

#aboutus img {
  width: 100%;
  padding-bottom: 18px;
}

#aboutus .col-md-4 div {
  position: relative;
  bottom: 18px;
  padding-bottom: 12px;
}
