.dimer {
  max-width: 100px;
}

#chevron-down-aboutus1 {
  position: absolute;
  top: 195vh;
  transform: translateY(-100%);
  width: 100%;
}

#chevron-down-aboutus2 {
  position: absolute;
  top: 295vh;
  transform: translateY(-100%);
  width: 100%;
}

#chevron-down-aboutus3 {
  position: absolute;
  top: 395vh;
  transform: translateY(-100%);
  width: 100%;
}
