/* aboutus section */

#aboutus-wrapper {
  height: 800vh;
}

#aboutus1, #aboutus2, #aboutus3 {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: -10;
  position: fixed;
  height: 50%;
  top: 25%;
}

#down-arrow {
  z-index: -10;
  position: fixed;
  height: 50%;
  top: 90%;
}

.stick {
    position:fixed;
    top:0px;
}

#aboutus .col-md-4 {
  padding-top: 52px;
}

#aboutus img {
  width: 100%;
  padding-bottom: 18px;
}

#aboutus .col-md-4 div {
  position: relative;
  bottom: 18px;
  padding-bottom: 12px;
}

#aboutus h3 {
  font-size: 18px;
  line-height: 8px;
}
