/*

Template 2076 Zentro

http://www.tooplate.com/view/2076-zentro

*/

/* expertise section */
#expertise {
  text-align: center;
}
#expertise h3 {
  font-size: 18px;
  line-height: 4px;
}
#expertise h4 {
  color: #5C5C5C;
  padding-top: 24px;
}
#expertise .col-md-4 {
 padding-top: 42px;
}
