/* expertise section */

#expertise {
  z-index: 10;
  background-color: white;
}

#expertise h3 {
  font-size: 18px;
  line-height: 4px;
}
#expertise h4 {
  color: #5C5C5C;
  padding-top: 24px;
}
#expertise .col-md-4 {
 padding-top: 42px;
}
