/* home section */

$leftPercentage: 60%;

#home-section {
  // margin-top: 30px;
}

#home {
  margin-top: 80px;
  position: fixed;
  width: 960px;
  margin-left: -480px;
  left: $leftPercentage;
  z-index: -1;
}

#chrysalis-logo {
  width: 75%;
}

#dimer-left {
  margin-right: 400px;
}

#dimer-right {
  margin-right: 360px;
}

#dimer-left, #dimer-right {
  width: 5%;
}

#dna-green, #dna-grey {
  position: fixed;
  left: $leftPercentage;
  top: 80%;
  transform: translateY(-50%);
  margin-top: 50px;
  width: 10%;
}
