/* home section */

// #video-container {
//   position: fixed;
//   height: 10px;
//   top: 10px;
// }

.embed-responsive-item {
  z-index: $homeZindex;
}

video#bgvid {
    position: fixed;
    top: 25%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100% !important;
    height: auto !important;
    z-index: -100;
    -ms-transform: translateX($translateXValue) translateY($translateYValue);
    -moz-transform: translateX($translateXValue) translateY($translateYValue);
    -webkit-transform: translateX($translateXValue) translateY($translateYValue);
    transform: translateX($translateXValue) translateY($translateYValue);
    // background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.video-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .video-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .video-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .video-container {
    width: 1170px;
  }
}
