/*

Template 2076 Zentro

http://www.tooplate.com/view/2076-zentro

*/

/* home section */
#home {
  padding-top: 80px;
  padding-bottom: 80px;
}
#home h1 {
  font-size: 60px;
  letter-spacing: 8px;
  font-style: normal;
  padding-top: 10px;
}
#home .btn {
  background: transparent;
  border-radius: 0;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 16px 42px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #ffffff;
  color: #202020;
}
