/* Sitewide */

/* Variables */
$blue: #28779F;
$green: #A4B447;
$gray: #E6E7E8;

/* Styles */
body {
  padding-top: 80px;
}

.header {
  font-family: light;
  color: $blue;
  font-size: 60px;
}

.subheader {
  font-size: 30px;
}

.primary-font {
  font-size: 30px;
}

.secondary-font {
  font-size: 20px;
}

.bg-gray {
  background-color: $gray;
}

.full-screen {
  height: 100vh;
}

.border-color-green {
  border-color: $green;
}
