/* Sitewide */

/* Variables */
$blue: #488BAD;
$green: #B1C063;
$gray: #E6E7E8;

/* Styles */
body {
  padding-top: 80px;
}

.gray-text {
  color: gray;
}

h2 {
  color: $blue;
}

.bg-gray {
  background-color: $gray;
}

.full-screen {
  height: 100vh;
}

.section {
  // margin-top: 70px;
}

.border-color-green {
  border-color: $green;
}
