.profile-painter {
  font-family: 'SignPainter', serif;
  color: $blue;
  font-size: 36pt;
}

.email-font {
  font-size: 20px;
}

#submit-btn {
  background-color: $green;
  color: white;
  width: 140px;
  height: 55px;
  font-size: 100%;
  font-weight: lighter;
  border-color: white;
  border-radius: 8px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid $red-danger;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $red-bg-danger;
  outline: 0 none;
}

.invalid-msg {
  margin-top: 15px;
}
