.navbar {
  min-height: 85px;
}

#top-nav {
  box-shadow: 0 0 30px 0 $blue;
}

.navbar-default {
  background-color: $white;
  border-color: $white;
}

.nav-font {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15pt;
}

// .nav-font-md {
//   font-size: 20pt;
// }
//
// .nav-font-sm {
//   font-size: 15px;
// }

.navbar-default .navbar-nav>li>a {
  color: $blue;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active {
  color: $green;
}

.navbar-nav>li>a {
  padding-top: 30px;
}

.navbar-default .navbar-nav > .current-page-true > a,
.navbar-default .navbar-nav > .current-page-true > a:hover,
.navbar-default .navbar-nav > .current-page-true > a:focus {
  color: $green;
  background-color: white;
}
