.navbar {
  min-height: 85px;
}

.blue-shadow {
  box-shadow: 0 0 30px 0 $blue;
}

.navbar-default {
  background-color: $white;
  border-color: $white;
}

.nav > li > a { // remove dotted border that appears on firefox
  outline:none;
}

.nav-font {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15pt;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: $blue;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active {
  color: $green;
}

.navbar-nav>li>a {
  padding-top: 30px;
}

.navbar-default .navbar-nav > .current-page-true > a,
.navbar-default .navbar-nav > .current-page-true > a:hover,
.navbar-default .navbar-nav > .current-page-true > a:focus {
  color: $green;
  background-color: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

#navbar-brand-logo {
  position: relative;
  top: -15px;
  // padding-right: 15px;
}
