/* variables */
$blue: #28779E;
$blue-bg-info: #9EC3D5;
$green: #A4B345;
$gray: #939598;
$white: #ffffff;
$red-danger: #A94442;
$red-bg-danger: #F2DEDE;
$green-success: #3C763D;
$green-bg-success: #DFF0D8;


/* styles */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
  font-size: 18pt;
  overflow-x: hidden;
  font-weight: 300;
}

@font-face {
  font-family: 'SignPainter', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
  src: url('fonts/SignPainter.otf') format('otf');
  font-weight: normal;
}

.sign-painter {
  font-family: 'SignPainter', serif;
  padding-left: 35px;
  color: $white;
  font-size: 40pt;
}

.page-title {
  margin-bottom: 10px;
}

video {
  z-index: -1;
}

.dna-segment-img {
  padding-top: 10px;
}

.dna-segment-video {
  padding-top: 10px;
}
