<!-- content -->
<div class="row">
  <div class="col-sm-8">
    <!-- title -->
    <div ng-include="'views/title.html'"></div>
    <!-- sm - lg view -->
    <p class="fadeInLeft wow hidden-xs" data-wow-delay="0.3s" >
      {{ aboutUsText[0] }}
    </p>
    <p class="fadeInLeft wow hidden-xs" data-wow-delay="1s" >
      {{ aboutUsText[1] }}
    </p>
    <p class="fadeInLeft wow hidden-xs" data-wow-delay="1.7s" >
      {{ aboutUsText[2] }}
    </p>
    <!-- xs view with no animations -->
    <p ng-repeat="paragraph in aboutUsText" class="visible-xs" >
      {{ paragraph }}
    </p>
  </div>
  <!-- md & lg view -->
  <div id="about-us-video-container" class="col-md-4 hidden-xs hidden-sm dna-segment-video">
    <video autoplay class="responsive-video">
      <source id="about-us-video" src="videos/dna-green-segment.mp4" type="video/mp4"; codecs="avc1.42E01E, mp4a.40.2" />
    </video>
  </div>
  <!-- sm view -->
  <div class="col-sm-4 visible-sm fadeIn wow" data-wow-delay="2.4s">
    <img src="img/dna-green-segment.jpg" class="img-responsive dna-segment-img" alt="">
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  new WOW().init();
</script>
