<!-- content -->
<div class="row">
  <div class="col-sm-8">
    <!-- title -->
    <div ng-include="'views/title.html'"></div>
    <p ng-repeat="paragraph in aboutUsText" class="fadeInLeft wow" data-wow-delay="{{ animationTimeDelay[$index] }}" >
      {{ paragraph }}
    </p>
  </div>
  <div id="about-us-video-container" class="col-sm-4 hidden-xs">
    <!-- video injected after text animations -->
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  new WOW().init();
</script>
