<!-- title -->
<div ng-include="'views/title.html'"></div>
<!-- content -->
<div class="row">
  <div class="col-md-6">
    <div class="row" ng-repeat="profile in profiles">
      <div class="col-md-4">
        <img class="img-responsive center-block" ng-src="{{ profile.imgPath }}" alt="{{ profile.name }}" />
      </div>
      <div class="col-md-6 visible-lg visible-md">
        <h2 class="profile-painter">{{ profile.name }}</h2>
        <h2>{{ profile.position }}</h2>
        <p class="email-font">
          {{ profile.email }}
        </p>
      </div>
      <div class="col-md-6 text-center hidden-lg hidden-md">
        <h2 class="profile-painter">{{ profile.name }}</h2>
        <h2>{{ profile.position }}</h2>
        <p class="email-font">
          {{ profile.email }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form id="contact-form" name="contactForm" novalidate>
      <div class="form-group">
        <input id="name-input" type="name" name="name" class="form-control" placeholder="Name" ng-model="contact.name" ng-required="true">
        <div ng-show="contactForm.name.$touched && contactForm.name.$invalid" class="bg-danger">
          <small class="text-danger">Enter a valid name</small>
        </div>
      </div>
      <div class="form-group">
        <input id="email-input" type="email" name="email" class="form-control" placeholder="Email" ng-model="contact.email" ng-required="true">
        <div ng-show="contactForm.email.$touched && contactForm.email.$invalid" class="bg-danger">
          <small class="text-danger">Enter a valid email address</small>
        </div>
      </div>
      <div class="form-group">
        <textarea id="message-input" name="message" class="form-control" rows="12" placeholder="Message" ng-model="contact.message" ng-required="true"></textarea>
        <div ng-show="contactForm.message.$touched && contactForm.message.$invalid" class="bg-danger">
          <small class="text-danger">Enter a valid message</small>
        </div>
      </div>
      <button id="submit-btn" name="submit" type="submit" value="Send" class="btn btn-success pull-right">Submit</button>
      <div id="form-messages" class="center-block text-center animated"></div>
    </form>
  </div>
</div>
