<div class="row">
  <div class="page-title">
    <h1 class="sign-painter">Contact Us</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row" ng-repeat="profile in profiles">
      <div class="col-md-4">
        <img class="img-responsive center-block" ng-src="{{ profile.imgPath }}" alt="{{ profile.name }}" />
      </div>
      <div class="col-md-6">
        <h2 class="profile-painter">{{ profile.name }}</h2>
        <h2>{{ profile.position }}</h2>
        <p class="email-font">
          {{ profile.email }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <input id="name-input" type="name" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <input id="email-input" type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <textarea id="message-input" class="form-control" rows="12" placeholder="Message"></textarea>
      </div>
      <button id="submit-btn" type="submit" class="btn btn-success pull-right">Submit</button>
      <div id="form-messages" class="center-block text-center animated"></div>
    </form>
  </div>
</div>
