<!-- title -->
<div ng-include="'views/title.html'"></div>
<!-- content -->
<div class="row">
  <!-- md & lg view -->
  <div class="col-md-6 hidden-xs hidden-sm">
    <div ng-repeat="profile in profiles" class="row fadeInDown wow" data-wow-delay="{{ animationTimeDelay[$index] }}">
      <div class="col-md-4">
        <img class="img-responsive center-block" ng-src="{{ profile.imgPath }}" alt="{{ profile.name }}" />
      </div>
      <div class="col-md-6">
        <h2 class="profile-painter">{{ profile.name }}</h2>
        <h2>{{ profile.position }}</h2>
        <p class="email-font">
          <a href="mailto:{{ profile.email }}">
            {{ profile.email }}
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- xs & sm view with no animations -->
  <div class="col-sm-12 visible-xs visible-sm">
    <div ng-repeat="profile in profiles" class="row">
      <div class="col-sm-4">
        <img class="img-responsive center-block" ng-src="{{ profile.imgPath }}" alt="{{ profile.name }}" />
      </div>
      <!-- xs view -->
      <div class="col-sm-8 text-center hidden-sm">
        <h2 class="profile-painter">{{ profile.name }}</h2>
        <h2>{{ profile.position }}</h2>
        <p class="email-font">
          <a href="mailto:{{ profile.email }}">
            {{ profile.email }}
          </a>
        </p>
      </div>
      <!-- sm view -->
      <div class="col-sm-8 hidden-xs">
        <h2 class="profile-painter">{{ profile.name }}</h2>
        <h2>{{ profile.position }}</h2>
        <p class="email-font">
          <a href="mailto:{{ profile.email }}">
            {{ profile.email }}
          </a>
        </p>
      </div>
    </div>
  </div>
  <div id="contact-form-div" class="col-md-6 col-sm-12 fadeInDown wow" data-wow-delay="{{ formDelay }}">
    <form id="contact-form" name="contactForm" novalidate ng-submit="submit()">
      <div class="form-group">
        <input id="name-input" type="name" name="name" class="form-control" placeholder="Name" ng-model="contact.name" ng-required="true" ng-blur="resetNameInput()">
      </div>
      <div class="form-group">
        <input id="email-input" type="email" name="email" class="form-control" placeholder="Email" ng-model="contact.email" ng-required="true" ng-blur="resetEmailInput()">
      </div>
      <div class="form-group">
        <textarea id="message-input" name="message" class="form-control" rows="12" placeholder="Message" ng-model="contact.message" ng-required="true" ng-blur="resetMessageInput()"></textarea>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div id="form-messages" class="center-block text-center"></div>
        </div>
        <div class="col-md-3">
          <button id="submit-btn" name="submit" type="submit" value="Send" class="btn btn-success pull-right">Submit</button>
          <br />
          <br />
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  new WOW().init();
</script>
