<div class="row">
  <div class="page-title">
    <h1 class="sign-painter">Expertise</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      Stategic Planning and Support
    </div>
    <div class="panel panel-default">
      Publications Planning and Execution
    </div>
    <div class="panel panel-default">
      External Expert Engagement
    </div>
    <div class="panel panel-default">
      Scientific Event Management
    </div>
    <div class="panel panel-default">
      Market Access and Health Economics Communications
    </div>
    <div class="panel panel-default">
      Medical Education and Marketing Support
    </div>
    <div class="panel panel-default">
      Internal Communications and Training
    </div>
    <div class="panel panel-default">
      Creative Design
    </div>
    <div class="panel panel-default">
      Digital Media Design
    </div>
    <div class="panel panel-default">
      Clinical Trial Support
    </div>
    <div class="panel panel-default">
      Continuing Medical Education
    </div>
  </div>
</div>
