<!-- content -->
<div class="row">
  <div class="col-sm-8">
    <!-- title -->
    <div ng-include="'views/title.html'"></div>
    <!-- md & lg view -->
    <div ng-repeat="item in items" class="expertise-item fadeInDown wow hidden-sm hidden-xs" data-wow-delay="{{ animationTimeDelay[$index] }}">
      <div class="expertise-item-text">
        {{ item }}
      </div>
    </div>
    <!-- xs & sm view with no animations -->
    <div ng-repeat="item in items" class="panel panel-default hidden-md hidden-lg" data-wow-delay="{{ animationTimeDelay[$index] }}">
      {{ item }}
    </div>
  </div>
  <!-- md & lg view -->
  <div id="expertise-video-container" class="col-md-4 hidden-xs hidden-sm dna-segment-video">
    <!-- video injected after text animations -->
  </div>
  <!-- sm view -->
  <div class="col-sm-4 visible-sm">
    <img src="img/dna-blue-segment.png" class="img-responsive dna-segment-img" alt="">
  </div>
</div>

<script>
  new WOW().init();
</script>
