<!-- title -->
<div class="row">
  <div class="col-sm-8">
    <div ng-include="'views/title.html'"></div>
  </div>
</div>
<!-- content -->
<div class="row">
  <!-- sm - lg view -->
  <div class="col-md-12 hidden-xs">
    <p ng-repeat="text in howWeWorkText" class=" fadeIn wow"  data-wow-delay="{{ animationTimeDelay[0] }}">
      {{ text }}
      <br />
      <br />
    </p>
    <br />
  </div>
  <!-- xs & sm view with no animations -->
  <div class="col-md-12 visible-xs">
    <p ng-repeat="text in howWeWorkText">
      {{ text }}
      <br />
      <br />
    </p>
    <br />
  </div>
    <!-- lg-view -->
    <div class="row visible-lg">
      <img ng-repeat="icon in icons" class="img-responsive icons icons-lg fadeInDown wow" ng-src="{{ icon.imgPath }}" alt="{{ icon.name }}" data-wow-delay="{{ animationTimeDelay[$index + 1] }}" />
    </div> <!-- /lg-view -->
    <!-- md-view -->
    <div class="row visible-md">
      <img ng-repeat="icon in icons" class="img-responsive icons icons-md fadeInDown wow" ng-src="{{ icon.imgPath }}" alt="{{ icon.name }}" data-wow-delay="{{ animationTimeDelay[$index + 1] }}" />
    </div> <!-- /md-view -->
    <!-- sm view -->
    <div class="row visible-sm">
      <div ng-repeat="icon in icons | limitTo : 3" class="col-sm-4">
        <img class="img-responsive center-block fadeInDown wow" ng-src="{{ icon.imgPath }}" alt="{{ icon.name }}" data-wow-delay="{{ animationTimeDelay[$index + 1] }}"/>
      </div>
    </div>
    <div class="row visible-sm">
      <div class="col-sm-2">
        <!-- col-sm-offset-2 -->
      </div>
      <div ng-repeat="icon in icons | limitTo : 2 : 2" class="col-sm-4">
        <img class="img-responsive center-block fadeInDown wow" ng-src="{{ icon.imgPath }}" alt="{{ icon.name }}"  data-wow-delay="{{ animationTimeDelay[$index + 4] }}"/>
      </div>
    </div> <!-- /sm view -->
    <!-- xs view with no animations -->
    <div class="row visible-xs">
      <div ng-repeat="icon in icons | limitTo : 2" class="col-xs-6">
        <img class="img-responsive center-block" ng-src="{{ icon.imgPath }}" alt="{{ icon.name }}" />
      </div>
      <div ng-repeat="icon in icons | limitTo : 2 : 2" class="col-xs-6">
        <img class="img-responsive center-block" ng-src="{{ icon.imgPath }}" alt="{{ icon.name }}" />
      </div>
      <div ng-repeat="icon in icons | limitTo : 1 : 4" class="col-xs-6 col-xs-offset-3">
        <img class="img-responsive center-block" ng-src="{{ icon.imgPath }}" alt="{{ icon.name }}" />
      </div>
    </div> <!-- /xs -view -->
  </div>
</div>

<script>
  new WOW().init();
</script>
