<h1>How We Work</h1>
<p>
  H We Wk Chrysalis values the partnerships we have built with both our clients and our internal team members.
Each day we strive to meet our 5 core values…
</p>

<div class="row">
  <!-- integrity -->
  <div class="col-md-2 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        Integrity
      </div>
      <div class="panel-body">
        Being honest in what we write, speak, and think
      </div>
    </div>
  </div> <!-- /integrity -->
  <!-- sound science -->
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        Sound Science
      </div>
      <div class="panel-body">
        Deep scientific understanding to effectively represent the data
      </div>
    </div>
  </div> <!-- /sound science -->
  <!-- commitment -->
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        Commitment
      </div>
      <div class="panel-body">
        Loyalty to our people and clients
      </div>
    </div>
  </div> <!-- /commitment -->
  <!-- passion -->
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        Passion
      </div>
      <div class="panel-body">
        Doing what we love and smiling while we do it
      </div>
    </div>
  </div> <!-- /passion -->
  <!-- partnership -->
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        Partnership
      </div>
      <div class="panel-body">
        True collaborations, interally as well as externally
      </div>
    </div>
  </div> <!-- /partnership -->
</div>
